p{
    background-color: green;
    font-family: sans-serif;
    color: yellow;
    font-size: 16pt;
}

p.segundoparagrafo{
    background-color: blue;
    font-family: Courier;
    color: red;
    font-size: 8pt;
}

p.terceiroparagrafo{
    background-color: black;
    font-family: Times;
    color: white;
    font-size: 30pt;
}